.sc-div {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 70px 0;
  text-align: center;
}

.sc-div div p:first-of-type {
  color: #d97706;
  font-size: 50px;
  margin-bottom: 10px;
  font-weight: 700;
}

.sc-div div p:nth-child(2) {
  color: var(--sc1-text);
  font-size: 14px;
}

.sec1 {
  border-bottom: 1px solid rgb(223, 223, 223);
  /* background-color: var(--bg-secondary); */
}

.sec1 .sc-div>div {
  background-color: var(--card-bg);
  /* border: 1px solid var(--border-color); */
}

.sec1 p {
  color: var(--text-primary);
}